.container{
    display: flex;
    justify-content: center; /* Horizontally centers the content */
     align-items: center;/* Vertically centers the content */
     flex-direction: column;
     height: 50vh; 
     /* Makes the container take up the full height of the viewport */
 } 


.black-border {
    color: rgb(82, 151, 151);
    text-align: center;
    /* border: 2px solid rgb(232, 0, 0); */
    font-family: "Amatic SC", sans-serif;
  font-size: 11vh;
  /* width: 200%; */
 
} 




body{
  background-color: rgb(10, 10, 10);
}

.myHome{
  display: flex;
    justify-content: end;
     align-items:center;
     flex-direction:row-reverse;
     color: rgb(82, 151, 151);
     /* border: 2px solid rgb(232, 0, 0); */
     font-family: "Amatic SC", sans-serif;
     font-weight: bold;
     font-size: 4vh;
     height: 6vh; 
}
.myHome i{
  /* border: 2px solid rgb(232, 0, 0); */
  margin: 10px;
  
}
.myHome p{
  /* border: 2px solid rgb(232, 0, 0); */
  padding: 5px;
}


.black-border img{
  width: 70px;
top: 100px;
  }


.menu {
  display: flex;
  justify-content: end;
   align-items:center;
   flex-direction:row-reverse;
   color: rgb(82, 151, 151);
   /* border: 2px solid rgb(232, 0, 0); */
   font-family: "Amatic SC", sans-serif;
   font-weight: bold;
   font-size: 4vh;
   height: 100%; 


display: none;
text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  /* border: 2px solid rgb(232, 0, 0); */
}

.menu ul {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  background-color: white;
  margin-bottom: 10px;
}

.menu ul li a {
 
  background-color: white;
  background-color: white;
  text-decoration: none;
  color: black;
}

.menu ul li a:hover {
 
  background-color: white;
  text-decoration: underline;
}














#dataTime{
  display: flex;
    justify-content: center; /* Horizontally centers the content */
     align-items: center;/* Vertically centers the content */
     flex-direction: row;
     height: 20vh; 
margin-bottom: -25px;
}


#dataTime p{
margin: 70px;
  font-family: "Amatic SC", sans-serif;
  color: rgb(82, 151, 151);
  font-size: 3vh;
  border: 1px solid rgb(181, 160, 160); 
  width: 20%;
  text-align: center;
  font-weight:bold;
}

#tempTime{

  display: flex;
    justify-content: center; /* Horizontally centers the content */
     align-items: center;/* Vertically centers the content */
     flex-direction: row;
     height: 20vh; 
     
}

#tempTime p{
margin: 70px;
  font-family: "Amatic SC", sans-serif;
  color: rgb(82, 151, 151);
  font-size: 5vh;
  /* border: 2px solid rgb(235, 0, 0);  */
  width: 20%;
  text-align: center;
  border: 1px solid rgb(181, 160, 160); 

}






@media only screen and (max-width: 600px) {
  .black-border {
    font-size: 10vh;/* Adjust the size for cell phones */
  }
  .container{
    margin-top: -20px;
    margin-bottom: -40px;
    height: 70vh;
    /* border: 2px solid rgb(235, 0, 0);    */
  }










  #dataTime{
    display: flex;
      justify-content: center; /* Horizontally centers the content */
       align-items: center;/* Vertically centers the content */
       flex-direction: row;
      
       /* border: 2px solid rgb(235, 0, 0);   */
       height: 50px;
       /* margin-bottom: 30px; */
       margin-top: 17px;

  }
  
  
  #dataTime p{
  margin: -72px;
    font-family: "Amatic SC", sans-serif;
    color: rgb(82, 151, 151);
    font-size: 5vh;
    /* border: 1px solid rgb(181, 160, 160);  */
    text-align: center;
    font-weight:bold;
   
  }
  
  #tempTime{
  
    display: flex;
      justify-content: center; /* Horizontally centers the content */
       align-items: center;/* Vertically centers the content */
       flex-direction: row;
       
       /* border: 2px solid rgb(235, 0, 0);    */
  }
  
  #tempTime p{
    margin: -72px;
    margin-top: 1px;
    font-family: "Amatic SC", sans-serif;
    color: rgb(82, 151, 151);
    font-size: 5vh;
    /* border: 2px solid rgb(235, 0, 0);  */
    text-align: center;
    /* border: 1px solid rgb(181, 160, 160);  */

  }

  #tempTime img{
width: 25px;

  }
  

}