.container{
    display: flex;
    justify-content: center; /* Horizontally centers the content */
     align-items: center;/* Vertically centers the content */
     flex-direction: column;
     height: 65vh; 
     /* Makes the container take up the full height of the viewport */
 } 


.black-border {
    color: rgb(82, 151, 151);
    text-align: center;
    /* border: 2px solid rgb(232, 0, 0); */
    font-family: "Amatic SC", sans-serif;
  font-size: 13vh;
  /* width: 200%; */
 
} 


@media only screen and (max-width: 600px) {
  .black-border {
    font-size: 10vh;/* Adjust the size for cell phones */
  }
  .container{
    height: 70vh; 
  }

}

body{
  background-color: rgb(10, 10, 10);
}

.myHome{
  display: flex;
    justify-content: end;
     align-items:center;
     flex-direction:row-reverse;
     color: rgb(82, 151, 151);
     /* border: 2px solid rgb(232, 0, 0); */
     font-family: "Amatic SC", sans-serif;
     font-weight: bold;
     font-size: 4vh;
}
.myHome i{
  /* border: 2px solid rgb(232, 0, 0); */
  margin: 10px;
  
}
.myHome p{
  /* border: 2px solid rgb(232, 0, 0); */
  padding: 5px;
}





.menu {
  display: flex;
  justify-content: end;
   align-items:center;
   flex-direction:row-reverse;
   color: rgb(82, 151, 151);
   /* border: 2px solid rgb(232, 0, 0); */
   font-family: "Amatic SC", sans-serif;
   font-weight: bold;
   font-size: 4vh;
   height: 100%; 


display: none;
text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  /* border: 2px solid rgb(232, 0, 0); */
}

.menu ul {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  background-color: white;
  margin-bottom: 10px;
}

.menu ul li a {
 
  background-color: white;
  background-color: white;
  text-decoration: none;
  color: black;
}

.menu ul li a:hover {
 
  background-color: white;
  text-decoration: underline;
}