.container{
    display: flex;
    justify-content: center; /* Horizontally centers the content */
     align-items: center;/* Vertically centers the content */
     flex-direction: column;
     height: 70vh; 
     /* border: 2px solid rgb(232, 0, 0);  */
     /* Makes the container take up the full height of the viewport */
    
 } 


.black-border {
    color: rgb(82, 151, 151);
    text-align: center;
    /* border: 2px solid rgb(232, 0, 0); */
    font-family: "Amatic SC", sans-serif;
  font-size: 11vh;
  /* width: 200%; */
  /* border: 2px solid rgb(232, 0, 0);  */
  background-color: white;
border-radius: 10px;
} 




body{
  background-color: rgb(10, 10, 10);
}

.myHome{
  display: flex;
    justify-content: end;
     align-items:center;
     flex-direction:row-reverse;
     color: rgb(82, 151, 151);
     /* border: 2px solid rgb(232, 0, 0); */
     font-family: "Amatic SC", sans-serif;
     font-weight: bold;
     font-size: 4vh;
     height: 6vh; 
}
.myHome i{
  /* border: 2px solid rgb(232, 0, 0); */
  margin: 10px;
  
}
.myHome p{
  /* border: 2px solid rgb(232, 0, 0); */
  padding: 5px;
}



.menu {
  display: flex;
  justify-content: end;
   align-items:center;
   flex-direction:row-reverse;
   color: rgb(82, 151, 151);
   /* border: 2px solid rgb(232, 0, 0); */
   font-family: "Amatic SC", sans-serif;
   font-weight: bold;
   font-size: 4vh;
   height: 100%; 


display: none;
text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  /* border: 2px solid rgb(232, 0, 0); */
}

.menu ul {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  background-color: white;
  margin-bottom: 10px;
}

.menu ul li a {
 
  background-color: white;
  background-color: white;
  text-decoration: none;
  color: black;
}

.menu ul li a:hover {
 
  background-color: white;
  text-decoration: underline;
}









#dataTime{
  background-color: white; 
   border-radius: 10px;
  display: flex;
  justify-content: center;
   align-items: center;
   flex-direction: row;
   /* border: 1px solid rgb(223, 0, 0);   */
 /* height: 17vh;
position: relative;
top: 120px;  */
font-family: "Amatic SC", sans-serif;
font-weight:bold;
font-size: 3vh;
padding: 15px;
 }

 #dataTime p1{
 margin: 10px;
 }
 #dataTime img{
  margin: -25px;
  }


 











@media only screen and (max-width: 600px) {
  .black-border {
    font-size: 10vh;/* Adjust the size for cell phones */
    /* border: 2px solid rgb(235, 0, 0);  */
background-color: white;
border-radius: 10px;
  }
  .container{
    margin-top: 100px;
    margin-bottom: 10px;
    margin: 20px;
    height: 68vh;
    /* border: 2px solid rgb(235, 0, 0);  */

  
  }




hr {
width: 100%;
  border-top: 1px solid black;
}


  
  #dataTime{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: right; 
     align-items: end;
     flex-direction: column;  
    /* border: 1px solid rgb(223, 0, 0);  */
   
  } 


#dataTime p{
  border-radius: 10px;
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-size: 5vh;
    font-weight:bold;
    text-align: right; 
  margin: 10px; 
  height: 5px; 
  
  } 
  #dataTime p1{
    border-radius: 10px;
      font-family: "Amatic SC", sans-serif;
      color: rgb(82, 151, 151);
      font-size: 5vh;
      font-weight:bold;
      text-align: right; 
    position: relative;
    bottom: 20px;
     left: -250px;
     
    } 

    #dataTime p2{
      border-radius: 10px;
        font-family: "Amatic SC", sans-serif;
        color: rgb(82, 151, 151);
        font-size: 5vh;
        font-weight:bold;
        text-align: right; 
      position: relative;
      bottom: 20px;
       left: -90px;
       
      } 

 #dataTime img{
  border-radius: 10px;
  position: relative;
  left: -100px;
  background-color: rgb(82, 151, 151);
  width: 60px;
 } 


 

}